.language-menu {
  padding: 4px 6px;

  @media (min-width: 768px) {
    padding: 7px 9px;
  }

  .flag-img {
    height: 9px;
    width: 12px;
    object-fit: cover;

    @media (min-width: 768px) {
      height: 26px;
      width: 36px;
    }
  }
}
