body {
  overflow: hidden;
}

.sidebar {
  @apply px-20 pt-24 bg-primary-50 dark:bg-primary-600;

  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 0;
  width: 100vw;
  transition: 0.6s all cubic-bezier(0.51, 0.22, 0.55, 0.32);
  transform: translateX(101%);

  &.active {
    transform: translateX(0%);
  }
}

@media screen and (min-width: 640px) {
  .sidebar {
    width: 470px;
  }
}
