@import "./styles.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  color: $--text;
  text-transform: uppercase;
  overflow: hidden;
}

#__next {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-logout {
  padding: 0.2em 0.5em !important;
  margin-bottom: 0.5em;
}

/* TEST */

button.btn-logout::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: inset;
  background: $--dark-pink;
  border-radius: inherit;
  box-shadow:
    0 0 0 2px $--pink-border,
    0 0.325em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition:
    transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.btn-logout:hover {
  background: $--pink;
  transform: translate(0, 0.05em);
}

button.btn-logout:hover::before {
  box-shadow: 0 0 0 2px $--pink-border 0 0.2em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -0.05em);
}

button.btn-logout:active {
  background: $--pink;
  transform: translate(0, 0.2em);
}

button.btn-logout:active::before {
  box-shadow:
    0 0 0 2px $--pink-border,
    0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

/* END TEST */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121 !important;
    color: white !important;
  }

  .modal-content {
    background-color: #151515 !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 50vw;
  min-height: 100%;
}

#root {
  overflow-x: hidden;
  min-height: 100%;
}

.score-container {
  position: absolute;
  right: 25px;
  top: 10px;
}

.start-countdown {
  position: absolute;
  font-size: 5rem;
  color: white;
  background-color: #00000080;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.card-room:hover {
  cursor: pointer;
}

.create-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.content-login-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.rooms-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.rooms-section > h2:first-child {
  width: 100%;
}

.col-card {
  min-width: 280px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swal2-popup {
  border: 1px solid gray !important;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.txt-cant-users {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.room-info {
  align-self: center;
  justify-self: end;
}

@media only screen and (min-width: 768px) {
  .rooms-section {
    padding: 10px;
  }

  .main {
    padding: 3rem 2rem 0.5rem;
  }
}
